body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ce1515;
    color: #2706a1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(128, 88, 36, 0.644);
}

nav ul li {
    display: inline;
    margin-right: 20px;
    background-color:rgba(128, 88, 36, 0.644);
}

nav a {
    color: #110892;
    text-decoration: none;
    font-size: 30;
    background-color: rgba(128, 88, 36, 0.644);
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

section {
    flex-basis: 25%;
    padding: 20px;
    border-right: 1px solid #880404;
}

section:last-child {
    border-right: none;
}

section h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
* {
    background-image: url(image.jpg) ; /* The image used */
    background-size: cover; /* ou background-size: contain; */
    background-repeat: no-repeat;
}
